@import "../../../../../../styles/numberInputField";
.input_fields {
    padding-left: 0.75rem;
}

.ad_checkbox_label {
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #666666;
    font-weight:400;
    font-style: normal;
    vertical-align: bottom;
    font-family:canada-type-gibson,sans-serif;
}