<div class="login-page" [@routerTransition]>
    <br><br>
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <div style="margin:40px">
                <img class="logo" height="22px" src="assets/images/33x-ground-control-logo.svg">
            </div>
            <a class="btn rounded-btn" [routerLink]="['/sp']" (click)="onLoggedin()"> Log in </a>
        </div>
    </div>
</div>
