@import './checkbox';
@import './common_variables';

$heightInputFields : 73%;

.ad_checkbox_label {
    @extend .gibsonRegular;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #666666;
}

.ad_checkbox {
    height: 20px;
    width: 20px
}

.ad_checkboxes {
    margin: 0 5px;
}

.checkbox {
    margin-left: -10px;
}

.enable_passback_checkbox {
    margin-left: 0.5rem;
}

.input_field_dropdown {
    width: 60%;
    height: 40%;
    font-size: 16px;
}

.input_fields {
    width: 60%;
    height: 40%;
    border: solid #cccccc 0.5px;
    padding-left: 3px;
}

.input_fields_label {
    @extend .gibsonRegular;
    color: #666666;
    font-size: 15px;
}

.is-invalid {
    border: 1px solid red;
}


.label {
    @extend .gibsonRegular;
    color: #808080 !important;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    padding: 5px;
}

.save_settings_button {
    @extend .gibsonRegular;
    margin: 1px 0 20px -10px;
    padding-top: 4.3px;
    border-radius: 28px;
    font-size: 16px;
    height: 2.3em;
    width: 12em;
}

.save_settings_button:focus {
    outline: none;
    box-shadow: none;
}

.ad_domain_settings {
    padding: 15px 10px 10px;
    width: 100%;
}

.ad_refresh_timer_input {
    @extend .gibsonRegular;
    border-color: 1px solid #cccccc;
    border-radius: 5px;
    display: inline;
    font-size: 16px;
    width: 180px;
    height: 60%;
}

.ad_settings_panel {
    @extend .gibsonLight;

    font-size: 16px;
    background: white;
    height: 100%;
}

.up_drop_icon {
    padding-top: 2px;
    cursor: pointer;
}

.mandatory_fields {
    @extend .ad_passback_icon;
    font-size: 15px;
}

.margin-row {
    margin-top: 20px;
}

.passback_tag {
    border-radius: 5px;
    width: 416px;
}


.passbackTagInputFields {
    height: $heightInputFields;
}

.pillar_content_push_settings {
    border-radius: 5px;
}

.adhesion_device_size {
    @extend .gibsonRegular;
    display: inline;
    font-size: 16px;
    height: 70%;
    width: 145px;
    padding: 0px;
}

.sdSetting {
    height: 100%;
    border-radius: 4px;
    background-color: white;
    padding: 33px 0px 20px 1px;
    margin: 5px 5px 5px 3px;

    .container {
        margin: 5px 5px 5px 22px !important;
        padding: 5px;
    }
}

.select_list {
    width: 180px;
}

.selectedSite {
    @extend .gibsonLight;
    vertical-align: bottom;
    font-size: 17px;
    padding: 0px 0px 0px 44px;
}

.switch {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-left: -15px;
    width: 45px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: -2px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    top: 2px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.ad_passback_icon {
    color: red;
    padding: 0 4px 0 0;
}

.ad_header_panel {
    background: #eaeaea;
    border-radius: 5px;
    height: 23px;
    padding-left: 0;
    font-size: 1.05em;
}


input:checked+.slider {
    background-color: #89F784;
}

input:focus+.slider {
    box-shadow: 0 0 1px #89F784;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.banner {
    float: right;
}

.detailHeader {
    height: 45px;
    padding: 0px;
}

.leftBanner {
    padding: 4px;
    font-weight: 600;
}

.containerMargin {
    margin-bottom: 10px;
}

.placement_att {
    background-color: white;
    padding: 20px;
}

.select_all_button {
    @extend .gibsonRegular;
    height: 25px;
    width: 100px;
    background: #3B3859;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding-top: 1px;
}

.select_all_button:focus {
    outline: none;
    box-shadow: none;
}

.de_select_all {
    font-size: 15px;
    padding: 2px 0 0 7px;
}

.sdSetting {
    height: 100%;
    border-radius: 4px;
    background-color: white;
    padding: 0px 0px 20px 1px;
    margin: 5px 5px 5px 3px;

    .container {
        margin: 5px 5px 5px 22px !important;
        padding: 5px;
    }
}

.csSettinglabel {
    @extend .gibsonRegular;
    color: black;
    font-weight: 600;
    padding: 0 0 5px 15px;
}

.refresh {
    float: right;
    margin-right: -50px
}