<div *ngIf="PillarPlacementDetails" (change)=onCheckBoxClick()>
    <div class="col-sm-12 border-0 ">
        <div class="col-sm-12 pl-0">
            <div class="row">
                <div class="col-sm-11 float-left pl-0">
                </div>
                <div class="col-sm-1 float-right pl-0">
                    <button type="button" *ngIf="!showDeselectButton" class="btn btn-primary select_all_button" (click)=selectAll()>Select
                        all</button>
                    <button type="button" *ngIf="showDeselectButton" class="btn btn-primary select_all_button de_select_all"
                        (click)=deSelectAll()>Deselect all</button>
                </div>
            </div>
            <div class="row margin-row">
                <div class="col-sm-3 float-left pl-0">
                    <label class="ad_checkbox_label pl-0"> Desktop</label>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <span *ngFor="let size of PillarDesktopList">
                            <gc-sp-checkbox (selected)="onCheckBoxClick()" [size]="size"></gc-sp-checkbox>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 pl-0">
            <div class="card-body p-0">
                <div class="row margin-row">
                    <div class="col-sm-3 pl-0">
                        <label class="ad_checkbox_label pl-0"> Tablet</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <span *ngFor="let size of PillarTabletList">
                                <gc-sp-checkbox (selected)="onCheckBoxClick()" [size]="size"></gc-sp-checkbox>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 pl-0">
            <div class="card-body p-0">
                <div class="row margin-row">
                    <div class="col-sm-3 pl-0">
                        <label class="ad_checkbox_label pl-0"> Pillar position </label>
                    </div>
                    <div class="col-sm-9 pl-0 margin-left">
                        <select class="select_list" (change)=updateAnimation() [(ngModel)]="PillarPlacementDetails['sic_site_setting']['tb_position']">
                            <option *ngFor="let pillarPosition of PillarPosition">{{pillarPosition}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 pl-0">
            <div class="card-body p-0">
                <div class="row margin-row">
                    <div class="col-sm-3 pl-0">
                        <label class="ad_checkbox_label pl-0"> Pillar animation :
                        </label>
                    </div>
                    <div class="col-sm-9 pl-0 margin-left">
                        <select class="select_list" [(ngModel)]="PillarPlacementDetails['sic_site_setting']['tb_animation']">
                            <option *ngFor="let pillarAnimation of PillarAnimation">{{pillarAnimation}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 pl-0">
            <div class="card-body p-0">
                <div class="row margin-row">
                    <div class="col-sm-3 pl-0">
                        <label class="ad_checkbox_label pl-0">
                            Pillar content push settings
                        </label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <input (ngModelChange)="emitPillarDetails($event)" class="col-sm-6 form-control contentPush"
                            [(ngModel)]="PillarPlacementDetails['sic_site_setting']['max_content_push']" />
                    </div>
                </div>
            </div>
        </div>
        <gc-inview-passback (inViewPassbackEmit)=updatePassback($event) [inViewPassback]="inViewPassback"></gc-inview-passback>
    </div>
</div>